<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="main">
    <header>
        <h1>Контакты</h1>    
    </header>
    <section>
        <h2>Ситилинк</h2>
        <ul>
            <li>Алексей Ахматов</li>
            <li class="important">Почта: Akhmatov.A@citilink.ru</li>
            <li>+7 (474) 220-33-01 или +7 (473) 233-11-11   доб. 54712</li>
            <li><a href="/files/Картриджи.xlsx" download>Учет картриджей</a></li>
        </ul>
    </section>
    <section>
        <h2>Риббоны</h2>
        <ul>
            <li>Абрамова Маргарита</li>
            <li class="important">Почта: 380@rbsgr.ru</li>
            <li>+7 (495) 320-03-63 (доб.380)</li>
            <li>Пример (<a href="/files/узкие_риббоны.pdf" download>Безруков и Кирилл</a>; <a href="/files/широкие_риббоны.pdf" download>Светлана Геннадиевна</a>)</li>
        </ul>
    </section>
    <section>
        <h2>Этикетки</h2>
        <ul>
            <li>Елена Янкович</li>
            <li class="important">Лучше общаться в WhatsApp</li>
            <li class="important">+7 (909) 210-05-98</li>
            <li>Пример (<a href="/files/узкие_этикетки.pdf" download>Безруков и Кирилл</a>; <a href="/files/широкие_этикетки.jpeg" download>Светлана Геннадиевна</a>)</li>
        </ul>
    </section>
    <section>
        <h2><a href="/files/реквизиты Магнит.pdf"  download>Наши реквизиты</a></h2>
     
    </section>
    
    </div>
    
</body>
</html>